.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container span {
    padding-left: 20px;
    padding-right: 20px;
    color: #303030;
    text-decoration: none;
}