.ul {
    list-style: none;
}

.ul li {
    margin: 5px;
    padding: 10px;
    border: 1px solid #a0a0a0;
    box-shadow: 0px 0px 2px #a0a0a0;
    border-radius: 5px;
}

.ul li:hover {
    background-color: #f0f0f0;
}

.ul a {
    text-decoration: none;
}


